@import "tailwindcss";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}